
       <appSettings>
         <add key="username" value="gabimbo83@gmail.com"/>
         <add key="password" value="Abc&123!"/>
         <add key="emailfrom" value="davolester@hotmail.com"/>
         <add key="host" value="smtp@gmail.com"/>
         <add key="port" value="587"/>
       </appSettings>
	  